.login-header {
    font-size: 2rem;
    font-weight: bold;
}

.login-text {
    font-size: 1rem;
    color: var(--clr-grey);
}

.signup-link {
    text-decoration: underline;
    color: var(--clr-black);
}

.signup-link:hover {
    text-decoration: none;
}

.description {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.role-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.role-description {
    font-size: 1rem;
    margin-top: 0.5rem;
    word-wrap: break-word;
}