/********************** WELCOME BOX **********************/

.welcome-box {
    background-color: var(--clr-white);
    padding: 1rem;
    margin: 1rem; 
    min-width: 25rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.welcome-logo {
    width: 400px;
    height: 96px;
}

.welcome-box h1 {
    color: var(--clr-purple-main);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.welcome-box h2 {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--clr-purple-main);
}

.welcome-box p {
    text-align: center; 
    max-width: 45rem;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    margin-top: 10;
}

.right-aligned-image {
    width: 300px;
    position: absolute;
    justify-self: middle;
    right: 1rem;
    pointer-events: none;
}

.left-aligned-image {
    width: 300px;
    position: absolute;
    justify-self: middle;
    left: 1rem;
    pointer-events: none;
}

@media (max-width: 1400px) {
    .right-aligned-image,
    .left-aligned-image {
        display: none;
    }
}

/********************** INFO **********************/

.infobox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}

.info h1 {
    font-size: xxx-large;
    color: var(--clr-purple-main);
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/********************** INFOBOXES **********************/

.infobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white);
    border-radius: 1rem;
    width: 300px;
    height: 300px;
    flex-grow: 1;
    padding: 1rem;
    margin: 1rem;
}

.infobox p {
    font-weight: 500;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    margin-top: 1rem;
}

@media (max-width: 1300px) {
    .infobox p {
        font-size: 0.85rem;
    }
}

.infobox-image {
    width: auto;
    height: 40%;
    max-width: auto;
    max-height: 40%;
}
