.welcome-box {
    background-color: var(--white);
    padding: 1rem;
    margin: 1rem; 
    min-width: 25rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.welcome-logo {
    width: 400px;
    height: 96px;
}

.welcome-box h1 {
    color: var(--clr-purple-dark);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.welcome-box h2 {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--clr-purple-dark);
}

.welcome-box p {
    text-align: center; 
    max-width: 45rem;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    margin-top: 10;
}

.right-aligned-image {
    width: 300px;
    position: absolute;
    justify-self: middle;
    right: 1rem;
}

.left-aligned-image {
    width: 300px;
    position: absolute;
    justify-self: middle;
    left: 1rem;
}

@media (max-width: 1400px) {
    .right-aligned-image,
    .left-aligned-image {
        display: none;
    }
}