* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* monochrome */
    --clr-black: #000000;
    --clr-white: #FFFFFF;
    --clr-light-grey: #e9e9e9;
    --clr-grey: #9e9e9e;
    --clr-dark-grey: #757575;

    /* errors */
    --clr-error: #FF0000;
    --clr-error-lighter: #ff8383;
    --clr-error-light: #ef5350;
    --clr-error-main: #d32f2f;
    --clr-error-dark: #c62828;
    
    /* color pallete */
    --clr-pink: #F72585;
    --clr-magenta: #B5179E;
    --clr-purple-light: #ddd0ea;
    --clr-purple-main: #6247AA;
    --clr-purple-dark: #560BAD;
    --clr-violet: #480CA8;
    --clr-violet-dark: #3A0CA3;
    --clr-blue: #3F37C9;
    --clr-blue-light: #4361EE;
    --clr-blue-lighter: #4895EF;
    --clr-cyan: #4CC9F0;

    --clr-brat-green: #00e676;
    --clr-dark-green: #00c853;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-light-grey);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.smaller-button-text {
    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: bold;
}

.small-button-text {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: bold;
}

.button-text {
    font-size: 1.15rem;
    text-transform: capitalize;
    font-weight: bold;
}

/* .medium-button-text {
    font-size: 1.25rem;
    text-transform: capitalize;
    font-weight: bold;
} */

.big-button-text {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
}