.faq-container h1 {
    font-weight: bolder;
    font-size: xxx-large;
    color: var(--clr-purple-main);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.faq-tab {
    font-weight: 600;
    font-size: 1.2rem;
}

.faq-question p {
    font-weight: bolder;
    font-size: large;
    margin: 0.5rem;
    align-items: center;
}